src/**/.o/
src/driver/fuzz_driver
src/driver/fuzz_driver_afl
src/repro/repro_driver
src/probe-arena/probe_arena
src/dump-seeds/dump_seeds
src/dump-code/dump_code
src/qemu-exec/exec_runner.elf
last_input.bin
out/
out_*/
seeds_raw/
